.container{
  display: grid;
  grid-template-columns: 158px 158px 158px;
  column-gap: 20px;
}









.cat{
  object-fit: cover;
  width: 150px;
  height: 150px

}
.sr2{
  display: grid;
  grid-template-columns: 25px 1fr;
  align-items: center;
  margin-bottom: 5px;
  padding-left: 6px;
  padding-top: 5px;
}
.dog{
  width: 20px;
  border-radius: 200px;
  object-fit: cover;
  height: 20px;

}

.stats{
  align-items: center;
  margin: 0px;

}

p{
  font-family: Arial;
  margin: 0px;
  margin-left: 5px;
}

.main{
  border: none;
  box-shadow: 0 0px 5px rgba(0, 0, 0, 0.514);
  padding-bottom: 5px;
  border-radius: 2px;
  margin-right: 8px;
}

.name{
  font-weight: bold;
  font-size: 14px;
}

.stats{
  font-size: 11px;
  color: grey;

}


button{
  margin-left: 5px;
  background-color: #4d86f0;
  color: white;
  border: none;
  padding: 8px;
  padding-left: 14px;
  padding-right: 14px;
  border-radius: 2px;
  margin-bottom: 3px;
}